<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="SourceFolder" value="D:\Programs\FileShifter\Source\"/>
		<add key="DestinationFolder" value="D:\Programs\FileShifter\Destination\"/>
		<add key="No_Of_SubDir" value="10"/>
	</appSettings>
</configuration>
